.nav{
    display: flex;
    background: black;
}
.nav-left{
    display: inherit;
}
img{
    padding: 8%;
}
a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 21px;
    font-family: Arial,"Comic Sans MS","Trebuchet MS";
    margin-left: 35px;
    margin-top: 30px;
    width: 100px;
}
.nav-right{
    display: inherit;
    margin-left: 50%;
}
.nav-link.button-register {
    border: 1px solid white;
    background:   background: rgb(233, 61, 120);
    background: linear-gradient(90deg, rgba(233, 61, 120, 1) 0%, rgba(152, 68, 208, 1) 100%);;
    border-radius: 10%;
    padding: 10px;
    margin-bottom: 23px;
    margin-top: 18px;
}
}
